---
title: Happy Birthday Autumn!
layout: basics
permalink: /hapbirf/
customcss: autumn
customjs: /assets/toggle.js
---

<div class="wrapper">
    <header>
        <h1>Happy Birthday Autumn!</h1>
        <p>We think you're pretty cool, so we made things for you 😁</p>
    </header>

    <main>
    {% for contributor in site.data.bday %}
        <section>
        {%if contributor.title%}
            <h2>{{contributor.title}}</h2>
        {%endif%}
            <p>From {{contributor.name}}, {{contributor.social}}</p>
            {%for img in contributor.image%}
            <img src="/assets/birthday/{{img.url}}" alt={{img.alt}}>
            {%endfor%}
            {%if contributor.text%}
            <p>Plain text version
                <button
                    id="{{contributor.name}}-btn"
                    onclick="toggle('{{contributor.name}}-btn','{{contributor.name}}-text')">
                    Click to show >>
                </button>
            </p>
            <div id="{{contributor.name}}-text" style="display:none">{{contributor.text}}</div>
            {%endif%}
        </section>
    {%endfor%}
    </main>
</div>