---
---
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

$black: rgba(0,0,0,0.5);

body {
    text-align: center;
    background: url("/assets/archives/1.jpeg") fixed;
    color: white;
}
a, a:visited, a:hover {
    color: green;
}

h1, h2 {
    font-family: 'Cabin', sans-serif;
    color: green;
    s {
        text-decoration-thickness: 0.2em;
    }
}

p:last-child { padding-bottom: 0;}

.thumb {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 3px;
    img {
        width: 100%;
        height: 100%;
    }
    .overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 144px;
        height: 144px;
        padding: 3px;
        display: block;
        background-color: rgba(0,0,0,0.8);
        transition: .5s ease;
        .text {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    &:hover .overlay {
        opacity: 1;
    }
}



#episode, #intro {
    background: $black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#text {
    text-align: left;
}

#fullsize {
    max-height: 80vh;
    text-align: center;
}

table {
    background: $black;
    color: inherit;
    border: none;
    border-radius: 5px;
    td, th, tr {
        background: inherit;
        color: inherit;
        border: inherit;
    }
    th {
        text-align: center;
    }
    tr {
        border-bottom: 3px black solid;
    }
    tr:nth-child(2n) {
        background: inherit;
    }
    tr:last-child {
        border-bottom: inherit;
    }
    td:nth-child(2) {
        text-align: right;
    }
}

nav {
    text-align: center;
    color: green;
    a{
        font-size: 12pt;
        background: $black;
        padding: 5px 20px;
        margin: 0 10px;
        border-radius: 5px;
    }
    a:hover {
        background-color: scale-color(black, $lightness: 15%);
        text-decoration: none;
    }

    p {
        margin-top: 10px;
    }
}